
// home styles

div.about-container {
  padding: 30px;

  h1.about-header {
    font-size: 20px;
  }

  div.message-input {
    display: block;
    padding: 10px 0;

    input {
      margin: 10px 0;
    }
  }

}
